.theme-light {
    --calendar-background-weekend: var(--background-secondary-alt);
}

.theme-dark {
    --calendar-background-weekend: var(--background-primary);
}

/* https://github.com/liamcain/obsidian-calendar-plugin */
#calendar-container {
    --color-text-today: var(--calendar-accent);
    --color-background-weekend: var(--calendar-background-weekend);

}

#calendar-container .year {
  color: var(--calendar-accent);
}
