/** Editor *******************************************************************/

.markdown-source-view {
  font-family: var(--font-family-editor);
}

.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian .CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd,
.cm-s-obsidian pre.HyperMD-table-row /* treat table rows as code */ {
  font-family: var(--font-family-monospace);
  font-size: 90%;
}

.cm-s-obsidian span.cm-quote {
  color: var(--text-normal);
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  background-color: unset;
}
