/*
obsidian-plex

# Features

- [IBM Plex](https://www.ibm.com/plex/) fonts, must be locally installed.
- Monospace font for tables in editor mode

# Credits

- Color palette for graph in dark mode are from https://github.com/nickmilo/Cybertron
- Color palette for graph in light node are from https://github.com/ryjjin/Obsidian-Dark-Graphite-Pie-theme
- Many of the CSS hacks are from the Obsidian Community.

*/

:root {
  --font-family-editor: 'IBM Plex Sans', var(--default-font);
  --font-family-preview: 'IBM Plex Sans', var(--default-font);
  --font-family-monospace: 'IBM Plex Mono', 'Source Code Pro', monospace;

  --pie-graph-circle: #ec0c0c;
  --pie-graph-line: #cccccc;
  --pie-graph-text: var(--text-normal);
  --pie-graph-tag: #b9ec41;
  --pie-graph-attach: #83d4f4;
  --pie-graph-unresolved: #8f938f;

  --cybertron-graph-circle: #fcf601;
  --cybertron-graph-line: #26798c;
  --cybertron-graph-text: #cccccc;
  --cybertron-graph-tag: #5dbcd2;
  --cybertron-graph-attach: #d669bc;
  --cybertron-graph-unresolved: #9e8aff;

  --doom-one-bg: #282c34;
  --doom-one-bg-alt: #21242b;
  --doom-one-base0: #1B2229;
  --doom-one-base1: #1c1f24;
  --doom-one-base2: #202328;
  --doom-one-base3: #23272e;
  --doom-one-base4: #3f444a;
  --doom-one-base5: #5B6268;
  --doom-one-base6: #73797e;
  --doom-one-base7: #9ca0a4;
  --doom-one-base8: #DFDFDF;
  --doom-one-fg: #bbc2cf;
  --doom-one-fg-alt: #5B6268;
  --doom-one-grey: #3f444a;
  --doom-one-red: #ff6c6b;
  --doom-one-orange: #da8548;
  --doom-one-green: #98be65;
  --doom-one-teal: #4db5bd;
  --doom-one-yellow: #ECBE7B;
  --doom-one-blue: #51afef;
  --doom-one-dark-blue: #2257A0;
  --doom-one-magenta: #c678dd;
  --doom-one-violet: #a9a1e1;
  --doom-one-cyan: #46D9FF;
  --doom-one-dark-cyan: #5699AF;
  --doom-one-highlight: #51afef;
  --doom-one-vertical-bar: #191b20;
  --doom-one-selection: #2257A0;
  --doom-one-builtin: #c678dd;
  --doom-one-comments: #5B6268;
  --doom-one-doc-comments: #83898d;
  --doom-one-constants: #a9a1e1;
  --doom-one-functions: #c678dd;
  --doom-one-keywords: #51afef;
  --doom-one-methods: #46D9FF;
  --doom-one-operators: #51afef;
  --doom-one-type: #ECBE7B;
  --doom-one-strings: #98be65;
  --doom-one-variables: #dcaeea;
  --doom-one-numbers: #da8548;
  --doom-one-region: #42444a;
  --doom-one-error: #ff6c6b;
  --doom-one-warning: #ECBE7B;
  --doom-one-success: #98be65;
  --doom-one-vc-modified: #da8548;
  --doom-one-vc-added: #98be65;
  --doom-one-vc-deleted: #ff6c6b;
  --doom-one-hidden: #282c34;
  --doom-one-modeline-fg: #bbc2cf;
  --doom-one-modeline-fg-alt: #5B6268;
  --doom-one-modeline-bg: #1c1e24;
  --doom-one-modeline-bg-l: #1d2026;
  --doom-one-modeline-bg-inactive: #1d2026;
  --doom-one-modeline-bg-inactive-l: #21242b;
}

.theme-light {
  --graph-circle: var(--pie-graph-circle);
  --graph-line: var(--pie-graph-line);
  --graph-text: var(--pie-graph-text);
  --graph-tag: var(--pie-graph-tag);
  --graph-attach: var(--pie-graph-attach);
  --graph-unresolved: var(--pie-graph-unresolved);

  --text-accent: #002d9c;
  --text-accent-hover: #0f62fe;

  --calendar-accent: rgb(203, 77, 73);
}

.theme-dark {
  --background-primary: var(--doom-one-bg);
  --background-primary-alt: #272b33;
  --background-secondary: #23272e;
  --background-secondary-alt: var(--doom-one-bg-alt);
  --background-modifier-border: var(--doom-one-region);
  --text-selection: var(--doom-one-region);
  --text-highlight-bg: var(--doom-one-selection);

  --graph-circle: var(--cybertron-graph-circle);
  --graph-line: var(--cybertron-graph-line);
  --graph-text: var(--cybertron-graph-text);
  --graph-tag: var(--cybertron-graph-tag);
  --graph-attach: var(--cybertron-graph-attach);
  --graph-unresolved: var(--cybertron-graph-unresolved);

  --text-accent: #78a9ff;
  --text-accent-hover: #a6c8ff;

  --calendar-accent: rgb(116, 190, 247);
}

@import "graph-view.scss";
@import "editor.scss";
@import "preview.scss";

/** Source View **************************************************************/

.cm-header {
  font-weight: 450 !important;
}

@import "snippets/guides.scss";

/**
 * Eliminate scroll bars for transclusions
 * See https://forum.obsidian.md/t/flush-inline-embeds/7747/9?u=bkyle
 */
.markdown-preview-view .markdown-embed-content,
.markdown-preview-view .markdown-embed-content>.markdown-preview-view {
  max-height: unset;
}


@import "snippets/calendar.scss";
@import "snippets/floats.scss";
@import "snippets/diagrams.scss";
