
/** Preview ******************************************************************/

.markdown-preview-view {
  font-family: var(--font-family-preview);
}

/* Lighten headings */
.markdown-preview-view h1 {
  font-weight: 500;
}

/* Lighten headings */
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    font-weight: 450;
}

/* Adjust font size to match source view */
.markdown-preview-view h1 {
  font-size: 24pt;
}

/* Adjust font size to match source view */
.markdown-preview-view h2 {
  font-size: 18pt;
}

/* Adjust font size to match source view */
.markdown-preview-view h3 {
  font-size: 14.4pt;
}

/* Adjust font size to match source view */
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-size: 12pt;
}

/* Line under headings */
.theme-dark .markdown-preview-view h1,
.theme-dark .markdown-preview-view h2,
.theme-dark .markdown-preview-view h3,
.theme-dark .markdown-preview-view h4,
.theme-dark .markdown-preview-view h5,
.theme-dark .markdown-preview-view h6 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--background-modifier-border);
}

/* Line under headings */
.theme-light .markdown-preview-view h1,
.theme-light .markdown-preview-view h2,
.theme-light .markdown-preview-view h3,
.theme-light .markdown-preview-view h4,
.theme-light .markdown-preview-view h5,
.theme-light .markdown-preview-view h6 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--background-primary-alt); /*#eeeeee;*/
}

/* Hide title element when including an entire note. */
.markdown-embed-title {
  display: none;
}

/* Fixup spacing for transclusions */
.markdown-embed {
  padding: 0px 0px 0px 0px;
}

/* Fixup spacing for transclusions */
.markdown-embed-link, .file-embed-link {
  top: 16px;
  right: -32px;
}
